logs/
node_modules/
coverage/
logs/
run/
.idea/
npm-debug.log
yarn-error.log
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
app/public/**/*.png
app/public/**/*.jpg
app/public/**/*.jpeg
